.App {
  font-family: "Roboto";
  background-color: #1f1f1f;
  text-align: center;
  height: 100vh;
  min-height: 150vh;
}

.clearfix {
  overflow: auto;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(8px + 1.25vmin);
  color: #15d0ff;
  padding-left: 5vw;
}

.App-header img {
  width: 50px;
  padding-top: 2vw;
  padding-right: 5vw;
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}

.Sub-header h2{
  color: hsl(219, 100%, 58%)
}

.Sub-header h1{
  color: #5315ff
}

.Main-panel {
  width: 87%;
  margin: auto;
  align-items: center;
  background-color: #565555 ;
  display: flex;
  padding: 2%;
}

.Visualizer {
  flex: 70%;
  padding: 5px;
  margin: auto;
}

.Visualizer img{
  width: 95%;
  border: 5px solid white;
}

.Equalizer {
  flex: 15%;
  padding: 5px;
  margin: auto;
  align-items: center;
}

.Equalizer img {
  width: 100%;
}

.Button-column {
  flex: 15%;
  padding: 5px;
  margin: auto;
  align-items: center;
}

button {
  display: block;
  padding: 10%;
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: calc(6px + 2vmin);}
@media screen and (min-width: 415px){
}